/* Global styles */
* {

    background-color:#dce1f4;
    color: #4d48ff;
}

h2, h3, a, li a, .second-nav__item a{ 
    
    color: #4d48ff;
    padding: 0;
    text-align: center;
}

h2 {

    font-size: 2em;
}

img {

    margin:0;
}


li {

    display: inline-block;
    margin-right: 1rem; 
}

 a, a:visited {
    text-decoration: none;
    position: relative;
    background: none;
    text-shadow: none;

  }
  ul a:after, ul a:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #4d48ff;
    transition: 0.2s;
  }
  a:hover:after, a:visited:hover:after {
    width: 100%;
  }

  svg:after, 
  svg:visited:after {

    background: none;

  }
  


/* About header styles, the typewriter effect */

.about-header__wrapper {

    display:flex; 
    flex-direction:row;
}

.about-header__text {

    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.ux {

    color: #D0D1D9;
    padding-right: .2em;
}

/* Second Nav styles */

ul.second-nav {

    width: 100%;
    margin: 2em auto;
    text-align: center;
    padding: 0;
    padding-left: 1em;
}

.second-nav__wrapper {

    display: block;
}

li.second-nav__item a{

    color: #444;
    text-decoration: none;
    background-image: none;
    display: inline-block;
    text-align: center;

}

/* Subhead styles */

.page-subhead {

    text-align: center;
}

/* Grid styles */

.grid-wrapper {

    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 3em;
    position: relative;
}

.grid-img__wrapper a {

    background: transparent;
}

.grid-img__wrapper h4 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    margin-top: 0;
    color: #dce1f4;
    opacity: 1;
    transition: transform 1s ease;

}

.grid-img__wrapper:hover h4 {

    opacity: 1;
}

.grid-img__wrapper {

    flex-grow: 1;
    width: 33%;
    object-fit:cover;
    height: 300px;
    display: flex;
    overflow: hidden;
    /* background-color: rgb(187, 191, 220); */

}

.grid-img__wrapper img {

    transition: transform 1s ease;
}

.grid-img__wrapper img:hover {

    transform: scale(1.5);
    mix-blend-mode: normal;
}



/* Work pages with class prefix w- */

.w-img-banner {

    display: inline-block;
    background-image: 
        linear-gradient(0deg, rgb(152, 158, 205) 30%, 
        rgba(139,145,189,0.10) 100%);
    margin: 0;
    padding: 0;
    height: 250px;
    position: relative;
}

.w-img-banner img {

    width: 100%;
    height: 250px;
    object-fit: cover;
    mix-blend-mode: color-burn;
    position: relative;
    

}

.w-img-banner h5 {

    font-size: 3em;
    position: absolute;
    bottom: 0;
    left: 3%;   
                                 
    background : transparent;
    color: #dce1f4;
    mix-blend-mode: overlay;

}

/* footer */


.footer p {


    padding: 0;
    margin: 0;
    font-size: .8em;

}

.footer p a {

    text-decoration: underline;
    transition: .3s ease;
    margin: 0 3px 0 3px;
}

.footer p a:hover {

    background-color: #4d48ff;
    color: white;
}